<ion-header translucent>
  <ion-toolbar>
    <ion-title>Gerät hinzufügen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"
        ><ion-icon name="close" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    *ngIf="visible === 'form'"
    #searchForm="ngForm"
    (ngSubmit)="onSubmit()"
    style="
      display: flex;
      flex-direction: column;
      max-width: 460px;
      margin: 2rem auto;
      gap: 2rem;
    "
  >
    <ion-item>
      <ion-label position="floating" floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="model.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" floating>Hersteller</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="model.manufacturer"
        name="manufacturer"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" floating>Typ</ion-label>
      <ion-input type="text" [(ngModel)]="model.type" name="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" floating>Raum</ion-label>
      <ion-input type="text" [(ngModel)]="model.room" name="room"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" floating>Cluster</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="model.cluster"
        name="cluster"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Hinzufügen</ion-button>
  </form>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      padding: 1rem;
    "
    *ngIf="visible === 'loading'"
  >
    <ion-spinner style="height: 3em; width: 3em"></ion-spinner>
    <p>Geräte in der Umgebung werden gesucht</p>
  </div>

  <ng-container *ngIf="visible === 'select'">
    <ion-list style="width: 100%">
      <ion-list-header color="primary">
        <ion-label> Folgende Smarthome Geräte wurden gefunden </ion-label>
      </ion-list-header>
      <ion-list-header>
        <ion-label>
          Wählen Sie das Gerät, welches Sie in Ihr Netzwerk aufnehmen wollen.
        </ion-label>
      </ion-list-header>
      <ion-item-divider>
        <ion-label>Geräte</ion-label>
      </ion-item-divider>
      <ion-item
        *ngFor="let dev of options"
        style="cursor: pointer"
        (click)="selectDevice(dev)"
      >
        <ion-label>{{ dev.name }} [{{ dev.manufacturer }}]</ion-label>
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
