<ion-header>
  <ion-toolbar>
    <ion-title>Geräte</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAdd()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar
    style="z-index: 0"
    appScrollHide
    [scrollHide]="headerScrollConfig"
    [scrollContent]="pageContent"
    ><ion-searchbar
      placeholder="Geräte durchsuchen"
      animated
      (ionChange)="onSearch($event)"
      debounce="500"
      class="my-searchbar"
    ></ion-searchbar
  ></ion-toolbar>
</ion-header>

<ion-content #pageContent>
  <ion-list>
    <ion-item-group *ngFor="let devicePart of devices$ | async">
      <ion-item-divider>
        <ion-label>{{devicePart.startingLetter}}</ion-label>
      </ion-item-divider>
      <app-device
        *ngFor="let device of devicePart.devices"
        [device]=" device"
      ></app-device>
    </ion-item-group>
  </ion-list>
</ion-content>
